# Project dependencies pinned for reproducibility
numpy==1.26.4
torch>=2.2.0
matplotlib
plotly
umap-learn
einops
pandas
tabulate # for df.to_markdown()
tqdm
transformer-lens

# Jupyter kernel for notebooks
ipykernel

# Experiment tracking
wandb
python-dotenv

# Visualization
seaborn
